<%- include('./includes/Header') %>
    <div class=" mt-5 w-full justify-center flex ">
        <form action="/login" method="POST" class="flex flex-col gap-4 bg-gray-200 p-10 pl-22 pr-22 rounded-lg">
            <div class="flex flex-col gap-1">
                <label class="font-bold text-xl" for="email">Email</label>
                <input class="p-1 pl-3 border-[1.5px] rounded-md" id="email" type="text" name="email"
                    placeholder="email">
            </div>

            <div class="flex flex-col gap-1">
                <label class="font-bold text-xl" for="password">Password</label>
                <input class="p-1 pl-3 border-[1.5px] rounded-md" id="password" type="text" name="password"
                    placeholder="password">
            </div>
            <div class="ml-auto">
                <a class="mr-3 hover:text-gray-500" href="/reset">reset password</a>
                <button class="bg-black p-2 pl-3 pr-3 font-semibold cursor-pointer text-white rounded-md">Login</button>
            </div>
        </form>
    </div>
    </body>

    </html>